# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\École\Programmation-3\A20-4203N5-ServoTest-Bouchard\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
